<!--h1>Inbox#view</h1>
<p>Find me in app/views/inbox/inbox/view.html.erb</p-->

<%= link_to 'Go to user home', main_app.root_path %>

<table style="width:100%">
  <tr>
    <th>Sender</th>
    <th>Subject</th>
    <th>Message</th>
    <th>Time</th>
  </tr>

  <% @emails.each do |e| %>
      <tr>
            <td><%= e.sender %></td>
            <td><%= e.subject %></td>
            <td>message</td>
            <td><%=e.created_at %></td>
      </tr>
   <% end %>

</table>


<%= will_paginate(@emails) %>